body {
    background-image: url('../images/diagmonds.png');
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    width: 960px;
    padding: 30px;
    text-align: center;
    border-bottom: solid .1em cornflowerblue;
    background-image: url('../images/background.jpg');
    margin-bottom: 25px;
}

h1 {
    color: cornflowerblue;
    text-shadow: 2px 2px #000000;
    font-family: "Georgia";
    font-size: 34px;
    font-weight: bolder;
    padding-bottom: 5px;
}

p {
    padding-left: 5px;
    padding-top: 5px;
}

.rules,
.game,
.score {
    float: left;
    background-color: white;
    height: 300px;
    border-bottom: solid .2em cornflowerblue;
}

.rules {
    width: 20%;
    margin-right: 10px;
    margin-left: 23px;
}

.game {
    width: 55%;
    margin-right: 10px;
}

.crystals,
.current {
    text-align: center;
    background-color: white;
}

img {
    display: inline-block;
    width: 75px;
    padding: 10px;
}

.current {
    height: 180px;
    padding-top: 15px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.score {
    width: 20%;
    text-align: center;
}

.score p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

span {
    font-size: 22px;
}
